{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "overrides": [
        {
            "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
            "rules": {
                "no-shadow": "off",
                "indent": ["error", 4, { "ignoredNodes": ["ConditionalExpression"] }],
                "semi": ["error", "always"],
                "quotes": ["error", "single"],
                "eol-last": ["error", "always"],
                "comma-dangle": ["error", "never"],
                "require-await": "error",
                "prefer-const": ["warn", { "destructuring": "any", "ignoreReadBeforeAssign": true }]
            }
        }
    ]
}
